<div class="ui left visible sidebar inverted vertical menu">
  <a class="item">
    Candidates
  </a>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Tests
  </a>
</div>
<div class="pusher">
  <div class="ui container grid">
    <div class="one column row">
    </div>
    <div class="one column row">
      <div class="column">
        <h1 class="ui header">Applicants for Android Developer</h1>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui styled fluid accordion">
      <div class="title">
        <div class="one column row">
        </div>
        <h2 class="ui header"><i class="dropdown icon"></i>Shortlisted Candidates</h2>
        <div class="one column row">
        </div>
      </div>
      <div class="content">
        <div class="transition hidden">
          <div class="ui link cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'nan.jpg' ) %>">
                <div class="header"><a href="candidate">Ding Xiangfei</a></div>
                <div class="meta">
                  <a>Software Engineer @ SomeCompany</a>
                </div>
                <div class="description">
                  Android App Development, Web Design
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  2 Years Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
                </span>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'tom.jpg' ) %>">
                <div class="header"><a href="candidate">Nicolas Ho</a></div>
                <div class="meta">
                  <span class="date">Fresh Graduate</span>
                </div>
                <div class="description">
                  Java, Android
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  No Work Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </span>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'nan.jpg' ) %>">
                <div class="header"><a href="candidate">Dennis Tan</a></div>
                <div class="meta">
                  <a>Junior Developer @ XYZ</a>
                </div>
                <div class="description">
                  Android App Development, UI/UX
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  1 Year Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <div class="one column row">
        </div>
        <h2 class="ui header"><i class="dropdown icon"></i>Technical Interview Stage</h2>
        <div class="one column row">
        </div>
      </div>
      <div class="content">
        <div class="transition hidden">
          <div class="ui link cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'tom.jpg' ) %>">
                <div class="header"><a href="candidate">Chan Min Yan</a></div>
                <div class="meta">
                  <span class="date">Fresh Graduate</span>
                </div>
                <div class="description">
                  Java, Android
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  No Work Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                </span>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'nan.jpg' ) %>">
                <div class="header"><a href="candidate">Joel Lee</a></div>
                <div class="meta">
                  <a>Junior Developer @ YourStartup</a>
                </div>
                <div class="description">
                  UI/UX, Design
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  2 Years Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <div class="one column row">
        </div>
        <h2 class="ui header"><i class="dropdown icon"></i>Preliminary Test Stage</h2>
        <div class="one column row">
        </div>
      </div>
      <div class="content">
        <div class="transition hidden">
          <div class="ui link cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'nan.jpg' ) %>">
                <div class="header"><a href="candidate">Yong Jinghe</a></div>
                <div class="meta">
                  <a>Web Developer @ ACompany</a>
                </div>
                <div class="description">
                  Android, Web Development
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  2 Years Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
                </span>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="<%= asset_path( 'nan.jpg' ) %>">
                <div class="header"><a href="candidate">Michael Lim</a></div>
                <div class="meta">
                  <a>Senior Developer @ Digits</a>
                </div>
                <div class="description">
                  Mobile App Development
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  3 Years Experience
                </span>
                <span>
                  <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {

    $('.ui.accordion').accordion();
});

$('.ui.rating')
  .rating({
    initialRating: 3,
    maxRating: 5,
    interactive: false
  })
;
</script>
