<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Garena Recruitment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/sidebar' unless params[:action] == "test" || params[:action] == "home" %>

<% if params[:action] == "test" || params[:action] == "home" %>
  <%= yield %>
<% else %>
  <%= render partial: "partials/menu" %>
<% end %>

</body>
</html>
