<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Hyrify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/sidebar' unless params[:action] == "test" || params[:action] == "home" %>
<div class="pusher">

  <div class="ui black big right attached sticky fixed button" style="top: 2.5em" id="sidebar-main-toggle">
    <i class="content icon"></i>
    Menu
  </div>
  <script>
    $('#sidebar-main-toggle').click(function() {
      $('#sidebar-main').sidebar('show');
    });
  </script>
  <div>
    <%= yield %>
  </div>
</div>

</body>
</html>
